.header{
  text-align: center;
  padding: 10px;
  font-size: 20px;
  color: rgb(185, 91, 91);
}
.container{
align-items:center;
display:flex;
min-height: 30vh;
justify-content: center;
width:100%;

}
.wrapper{
min-width:250px;
min-height: 650px;
}
.taskinput{
  outline: none;
  width:250px;
  padding:15px;
  margin-right: 25px;
  font-size:25px;
  color:rgb(41, 39, 39);
  border:2px solid #b15f13;
 border-radius: 15px;
}
.addtask{
width:70px;
padding :10px 10px;
font-size: 20px;
border:0;
border-radius: 10px;
cursor:pointer;
background-color: #dfc63c;
}
.todolist{
display: flex;
margin:20px 0;
border:1px solid #ccc;
border-radius:10px;
padding:10px;
max-height: 30px;
font-size: 30px;
}
.button-complete,
.button-delete,
.button-edit{
border:none;
outline:none;
cursor:ppointer;
background-color:transparent;
font-size: 23px;
border-radius:50%;
}
.button-complete{
color:rgb(88, 166, 211);
margin-right: 10px;
}
.button-edit{
  color:rgb(194, 43, 43);

  }
  .button-delete{
    color:rgb(118, 235, 190);
    
    }
    .list{
      width:220px;
   border:none;
   font-size:20px;
padding-left:10px;
margin-right :15px;  }
input:focus,
button:focus{
  outline:none;
}